*{
    padding: 0px;
    margin: 0px;
}

html, body {
    background-color: rgba(0, 0, 0, 0.74);
    height: 100vh;
    width: 100vw;
}


header > menu > ul > li > a {
    text-decoration: none;
    color: white;
    

}

main {
    background-color: gray;
    height: 100vh;
    width: 50vw;
    position: relative;
    margin: auto;
     
}

section#escolher {
    display: flex;
    flex-direction: column;
    text-align: center;
}
section#jogo {
    display: none;
}
div.cartas {
    display: flex;
    margin: auto;
    
}    
div.cartas > p {
    border: 2px solid black;
    margin: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    
}